.income-page {
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem;
    background-color: #181818;
    color: white;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    align-items: center;
    margin-bottom: 0.5rem;
}     

.header h1 {
    font-weight: 400;
}

.header-buttons {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.filter-income-button, 
.extra-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 10px;
    background-color: #5e5e5e;
    border: white 1px solid;
    color: white;
}

.add-income-button {
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    background-color: #5e5e5e;
    border: white 1px solid;
}

.income-divider {
    margin: 2rem 0;
    border-top: 1px solid #ffffff;
    margin-top: 0rem;
}

.income-list-header {
    font-size: 20px;
}

.income-list-header,
.income-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.income-list-row {
    background-color: #5e5e5e;
    width: 100%;
    height: 65px;
    border-radius: 10px;
}

.income-item {
    flex: 1;
    text-align: left;
    word-break: break-word;
    white-space: normal; 
    padding-left: 2rem;
}

.income-item:first-child {
    flex: 1.5;
}

