.navigationbar {
    background-color: #363636;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100vh;
    box-sizing: border-box;
    color: white;
}

.header {
    font-size: 16px;
    font-weight: regular;
    margin-bottom: 3rem;
    margin-top: 6rem;
}

.header h2 {
    font-weight: 400;
}

.navbar-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 80%;
}

/* button {
    background-color: transparent;
    border: 0.25px solid #ffffff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 100px 15px 20px;
    text-align: start;
} */

.nav-link {
    display: block;
    background-color: transparent;
    border: 0.25px solid #ffffff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 100px 15px 20px;
    text-align: start;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    transition: background 0.2s;
}
.nav-link:active,
.nav-link:focus {
    outline: none;
    background: #444;
}
.nav-link:hover {
    background: #444;
}
